<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form 전송</title>
    <style>
        span{color: coral;}
    </style>
</head>
<body>
    <h1>실습 get 결과</h1>
    이름은 <span><%= userInfo.name %></span> 이고<br>
    성별은 <span><%= userInfo.gender %></span> 이고<br>
    생년월일은 
    <span><%= userInfo.year %></span>년 
    <span><%= userInfo.month %></span>월 
    <span><%= userInfo.day %></span>일 입니다.<br>
    관심사는 
    <% if(!userInfo.interest){ %>
        없습니다
    <% }else{ %>
        <span><%=userInfo.interest %></span>
    <% } %>
</body>
</html>