<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./component/head.ejs',{title:'회원 정보'})  %>
</head>
<body>
    <form name="form" class="container" onsubmit="return false">
        <%- include('./component/header.ejs',{blind:true})  %>
        <input type="hidden" id="id" value="<%= data.id %>" />
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="name" id="name" placeholder="이름" required value="<%= data.name %>">
            <label for="floatingInput">이름 </label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="userid" id="userid" placeholder="아이디" disabled value="<%= data.userid %>">
            <label for="floatingInput">아이디</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" name='pw' id="pw" placeholder="비밀번호" required value="<%= data.pw %>">
            <label for="floatingPassword">비밀번호</label>
        </div>
        <div class="d-flex justify-content-between gap-3">
            <button type="button" class="btn btn-primary my-3" onclick="leave()">회원 탈퇴</button>
            <button type="button" class="btn btn-primary my-3" onclick="edit()">정보 수정</button>
        </div>
        <a href="/visitors" class="btn">방명록 가기</a>
        <!-- <button type="button" class="btn btn-primary mb-3" onclick="signout()">로그아웃</button> -->
        <div class="resultbox"></div>
    </form>
</body>
</html>